{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Header -->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Processing Order</h1>
            <p class="lead fw-normal text-white-50 mb-0">This is temporary</p>
        </div>
    </div>
</header>
<br/>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    Order Summary
                </div>
                <div class="card-body">
                    {% for product in cart_products %}
                    {{ product.name }}
                    {% if product.is_sale %}

                    ${{ product.sale_price }}
                    {% else %}
                    ${{ product.price }}

                    {% endif %}
                    <br/>
                    <small>Quantity:
                        {% for key, value in quantities.items %}
                        {% if key == product.id|slugify %}
                        {{ value }}
                        {% endif %}
                        {% endfor %}<br/></small>
                    <br/>
                    {% endfor %}

                    <hr class="divider"/>
                    <strong>Total: ${{ total }}</strong>
                </div>
            </div>
            <br/>
            <div class="card">
                <div class="card-header">
                    Shipping Info
                </div>
                <div class="card-body">

                </div>
            </div>
            <br/>
            <div class="card">
                <div class="card-header">
                    Billing Info
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'process_order' %}">
                        {{ billing_form.as_p }}
                        {% csrf_token %}
                        <center>
                            <button type="submit" class="btn btn-secondary">Proceed to Payment</button>

                        </center>

                    </form>

                </div>
            </div>
            <br/>

            <br/>


        </div>
    </div>
</div>


{% endblock %}
